 .menu-lateral
 {
 	font-family:"Patua One";
 	height:auto;
 	color:white;
 	background-color: rgb(37, 36, 33);
 }

 .off-canvas-wrapper
 {
 	 	background-color: rgb(37, 36, 33);

 }

 hr.style-one 
 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}




h1
{
	text-align: center;
	color: white;
	font-family:"Patua One";
	margin-bottom:0px;	
}

h2
{
	text-align: center;
	color: black;
	font-family:"Patua One";
	margin-bottom:0px;
}

h3
{
	margin-bottom: 0px;
}

.fondo-planes
{

background-color: rgb(37, 36, 33);
background-size: 100% auto;

		padding-bottom: 20px;
		border-bottom: 2px solid green;
}

a{
	text-decoration:none;
	color:inherit;
}

a:hover
{
	color:#009900;
}

.top-bar, .top-bar ul 
{
	background-color:rgb(37, 36, 33);
    font-family:"Patua One";
    color:white;
}

#jssor_1
{
	border-bottom: 2px solid green;
}

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding-right:0px; }


.tabla-simple
{
	margin-top: 2%;
	text-align: center;
}

.features .texto
{

	text-align:justify;
}

.features .texto li
{
	line-height: 200%;
}

.features .row
{
	
}

h4
{
	font-family:"Patua One";
}

.obscuro
{
	background-color: rgb(37, 36, 33);
	color: white;
	position: relative;
        padding: 8px 8px 16px 8px;
      
}

.obscuro:before {
    background: linear-gradient(-135deg, #ffffff 8px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
}


.obscuro:after
{
	background: linear-gradient(-45deg, #ffffff 8px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 16px 16px;
        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 16px;
}

.obscuro strong
{
	color:#239023;
}

.claro strong
{
	color:#239023;
}

.claro span
{
	font-weight: bold;
}


footer
{
	background-color: #000000;
	border-top: 2px solid green;
	color: white;
	text-align:center; 
	padding-top: 2em;
	padding-bottom: 2em;
	flex: 0 1 40px;
}

footer span.titulo
{
	font-size: 2em;
}

footer span.verde
{
	color: green;
}

.recuadro-detalles
{
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #f2f2f2;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-right: 1em;
}

.sombra-imagen
{
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.48);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.48);
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.48);
}

.contenedor-menu-top
{
	background-color:rgb(37, 36, 33);
	border-bottom: 2px solid green;
}





/*------------------------------------------------------------*/


/******************************************************************/
/*                           MOBILE                               */
/******************************************************************/ 

@media screen and (max-width: 39.9375em) 
{
	.top-bar-right
	{
		display:none;
	}

	.minilogo
	{
	margin-left:auto;
	margin-right:auto; 
	width: 150px;
	display:inline-block;

	}

	#offCanvas
	{
	overflow-x: hidden; 
    overflow-y: auto;	
	}

	.obscuro
	{
		padding-top: 30px;
	}

	.claro
	{
		padding-top: 30px;
	}

	h2.titulo-beneficios
	{
		font-size: 30px;
		padding-top: 20px;
	}

	.imagen-footer
	{
		align-content: center;
	}





	
}





/*******************************************************************/
/*                             MEDIANA                             */
/*******************************************************************/



@media screen and (min-width: 40em) and (max-width: 63.9375em) 
{

	.top-bar-right
	{
		
	}

	.minilogo
	{
	margin-left:0px; 

	}

	.menu-icon
	{
		display:none;
	}

	.recuadro-detalles
	{
		font-size: 0.7em;
	}

	.recuadro-detalles h4
	{
		font-size: 1.5em;
	}

	.obscuro
	{
		padding-top: 30px;
	}

	.claro
	{
		padding-top: 30px;
	}

	h2.titulo-beneficios
	{
		font-size: 30px;
		padding-top: 20px;
	}

	.atributos
	{
		padding-top: 5px;
		padding-bottom: 5px;
	}

}

/*******************************************************************/
/*                             GRANDE                              */
/*******************************************************************/

@media screen and (min-width: 64em) 
{


	.top-bar-right
	{
		
		background-color: rgb(37, 36, 33);
	}

	.dropdown menu
	{
		background-color: rgb(37, 36, 33);
	}

	.minilogo
	{
		
	}

	.menu-icon
	{
		display:none;
	}

	h1
	{
		padding-top: 20px;
		padding-bottom: 20px;
		color: #f2f2f2;
	}

	h2
	{
		padding-top: 20px;

		
	}



	.features .texto
	{
		margin-top: auto;
		margin-bottom: auto;
		height: 500px
	}

	.obscuro
	{
		padding-bottom: 4em;
		padding-top: 4em;
		color: #f2f2f2
	}

	.row
	{
		max-width: 75em;
	}

	.contacto
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.links
	{
		text-align: left;
		
	}

	.atributos
	{
		margin-top: 20px;
	}

}









